.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 1em;
}

.imgBorder {
    border-radius: 20px;
    max-width: 600px;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
}
.form > * {
    margin: 1em;
    padding: 1em;
    flex-basis: 50%;
}